Options -Indexes
Options -Multiviews
Options +FollowSymLinks
SetEnv REGISTER_GLOBALS 0
SetEnv PHP_VER 5
RewriteEngine On


RewriteRule ^fr-(.*)$ /index.php?page=$1 [L]
RewriteRule ^en-(.*)$ /index.php?page=$1 [L]
RewriteRule ^details-([a-zA-Z]+)-([0-9]+)$ /newsdetails.php?type=$1&id=$2 [L]
RewriteRule ^rss.xml$ /rss.xml.php [L]
