/*
 ********************************
 ***ANIMATION FOR THE GUITARS ***
 ********************************
 */
.anim-guitare-1, .anim-guitare-0{
	-webkit-animation-name: rotateInstru;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: rotateInstru;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
	
	-o-animation-name: rotateInstru;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
	
	animation-name: rotateInstru;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotateInstru{
	0%{
		-webkit-transform: rotate(21deg);
		-webkit-animation-timing-function: ease-out;
	}
	25%{
		-webkit-transform: rotate(33deg) translate(-12px,8px);
		-webkit-animation-timing-function: ease-in;
	}
	50%{
		-webkit-transform: rotate(21deg);
		-webkit-animation-timing-function: ease-out;
	}
	75%{
		-webkit-transform: rotate(9deg) translate(14px,-5px);
		-webkit-animation-timing-function: ease-in;
	}
	100%{
		-webkit-transform: rotate(21deg);
		-webkit-animation-timing-function: ease-out;
	}
}
@-moz-keyframes rotateInstru{
	0%{
		-moz-transform: rotate(21deg);
		-moz-animation-timing-function: ease-out;
	}
	25%{
		-moz-transform: rotate(33deg) translate(-12px,8px);
		-moz-animation-timing-function: ease-in;
	}
	50%{
		-moz-transform: rotate(21deg);
		-moz-animation-timing-function: ease-out;
	}
	75%{
		-moz-transform: rotate(9deg) translate(14px,-5px);
		-moz-animation-timing-function: ease-in;
	}
	100%{
		-moz-transform: rotate(21deg);
		-moz-animation-timing-function: ease-out;
	}
}
@-o-keyframes rotateInstru{
	0%{
		-o-transform: rotate(21deg);
		-o-animation-timing-function: ease-out;
	}
	25%{
		-o-transform: rotate(33deg) translate(-12px,8px);
		-o-animation-timing-function: ease-in;
	}
	50%{
		-o-transform: rotate(21deg);
		-o-animation-timing-function: ease-out;
	}
	75%{
		-o-transform: rotate(9deg) translate(14px,-5px);
		-o-animation-timing-function: ease-in;
	}
	100%{
		-o-transform: rotate(21deg);
		-o-animation-timing-function: ease-out;
	}
}
@keyframes rotateInstru{
	0%{
		transform: rotate(21deg);
		animation-timing-function: ease-out;
	}
	25%{
		transform: rotate(33deg) translate(-12px,8px);
		animation-timing-function: ease-in;
	}
	50%{
		transform: rotate(21deg);
		animation-timing-function: ease-out;
	}
	75%{
		transform: rotate(9deg) translate(14px,-5px);
		animation-timing-function: ease-in;
	}
	100%{
		transform: rotate(21deg);
		animation-timing-function: ease-out;
	}
}

/*
 ********************************
 ***ANIMATION FOR THE BASS ***
 ********************************
 */
.anim-guitare-2{
	-webkit-animation-name: rotateBass;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: rotateBass;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
	
	-o-animation-name: rotateBass;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
	
	animation-name: rotateBass;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotateBass{
	0%{
		-webkit-transform: rotate(25deg);
		-webkit-animation-timing-function: ease-out;
	}
	25%{
		-webkit-transform: rotate(37deg) translate(-12px,10px);
		-webkit-animation-timing-function: ease-in;
	}
	50%{
		-webkit-transform: rotate(25deg);
		-webkit-animation-timing-function: ease-out;
	}
	75%{
		-webkit-transform: rotate(13deg) translate(15px,-8px);
		-webkit-animation-timing-function: ease-in;
	}
	100%{
		-webkit-transform: rotate(25deg);
		-webkit-animation-timing-function: ease-out;
	}
}
@-moz-keyframes rotateBass{
	0%{
		-moz-transform: rotate(25deg);
		-moz-animation-timing-function: ease-out;
	}
	25%{
		-moz-transform: rotate(37deg) translate(-12px,10px);
		-moz-animation-timing-function: ease-in;
	}
	50%{
		-moz-transform: rotate(25deg);
		-moz-animation-timing-function: ease-out;
	}
	75%{
		-moz-transform: rotate(13deg) translate(15px,-8px);
		-moz-animation-timing-function: ease-in;
	}
	100%{
		-moz-transform: rotate(25deg);
		-moz-animation-timing-function: ease-out;
	}
}
@-o-keyframes rotateBass{
	0%{
		-o-transform: rotate(25deg);
		-o-animation-timing-function: ease-out;
	}
	25%{
		-o-transform: rotate(37deg) translate(-12px,10px);
		-o-animation-timing-function: ease-in;
	}
	50%{
		-o-transform: rotate(25deg);
		-o-animation-timing-function: ease-out;
	}
	75%{
		-o-transform: rotate(13deg) translate(15px,-8px);
		-o-animation-timing-function: ease-in;
	}
	100%{
		-o-transform: rotate(25deg);
		-o-animation-timing-function: ease-out;
	}
}
@keyframes rotateBass{
	0%{
		transform: rotate(25deg);
		animation-timing-function: ease-out;
	}
	25%{
		transform: rotate(37deg) translate(-12px,10px);
		animation-timing-function: ease-in;
	}
	50%{
		transform: rotate(25deg);
		animation-timing-function: ease-out;
	}
	75%{
		transform: rotate(13deg) translate(15px,-8px);
		animation-timing-function: ease-in;
	}
	100%{
		transform: rotate(25deg);
		animation-timing-function: ease-out;
	}
}
/*
 ********************************
 ***ANIMATION FOR THE MICRO ***
 ********************************
 */
.anim-guitare-4{
	-webkit-animation-name: rotateMicro;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: rotateMicro;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
	
	-o-animation-name: rotateMicro;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
	
	animation-name: rotateMicro;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotateMicro{
	0%{
		-webkit-transform: rotate(0);
		-webkit-animation-timing-function: ease-out;
	}
	25%{
		-webkit-transform: rotate(12deg) translate(-14px,2px);
		-webkit-animation-timing-function: ease-in;
	}
	50%{
		-webkit-transform: rotate(0);
		-webkit-animation-timing-function: ease-out;
	}
	75%{
		-webkit-transform: rotate(-12deg) translate(14px,2px);
		-webkit-animation-timing-function: ease-in;
	}
	100%{
		-webkit-transform: rotate(0);
		-webkit-animation-timing-function: ease-out;
	}
}
@-moz-keyframes rotateMicro{
	0%{
		-moz-transform: rotate(0deg);
		-moz-animation-timing-function: ease-out;
	}
	25%{
		-moz-transform: rotate(12deg) translate(-14px,2px);
		-moz-animation-timing-function: ease-in;
	}
	50%{
		-moz-transform: rotate(0deg);
		-moz-animation-timing-function: ease-out;
	}
	75%{
		-moz-transform: rotate(-12deg) translate(14px,2px);
		-moz-animation-timing-function: ease-in;
	}
	100%{
		-moz-transform: rotate(0deg);
		-moz-animation-timing-function: ease-out;
	}
}
@-o-keyframes rotateMicro{
	0%{
		-o-transform: rotate(0deg);
		-o-animation-timing-function: ease-out;
	}
	25%{
		-o-transform: rotate(12deg) translate(-14px,2px);
		-o-animation-timing-function: ease-in;
	}
	50%{
		-o-transform: rotate(0deg);
		-o-animation-timing-function: ease-out;
	}
	75%{
		-o-transform: rotate(-12deg) translate(14px,2px);
		-o-animation-timing-function: ease-in;
	}
	100%{
		-o-transform: rotate(0deg);
		-o-animation-timing-function: ease-out;
	}
}
@keyframes rotateMicro{
	0%{
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	25%{
		transform: rotate(12deg) translate(-14px,2px);
		animation-timing-function: ease-in;
	}
	50%{
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	75%{
		transform: rotate(-12deg) translate(14px,2px);
		animation-timing-function: ease-in;
	}
	100%{
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
}